<a href="https://colab.research.google.com/github/MegaPlayer64/CodingDojoDataScienceClasses/blob/First-Activities/Datos_del_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicios de Pandas en el conjunto de datos de Titanic (base)**

Pregunta N°1.- Muestren el centro del marco de datos.

In [86]:
import pandas as pd
filename = '/content/titanic.csv'
df = pd.read_csv(filename)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Pregunta N°2.- ¿Cuál es el porcentaje de las personas que sobrevivió? (pista: encuentren la media de la columna de supervivencia).

In [87]:
Survived_Mean = df.loc[:, 'Survived'].mean()
print(Survived_Mean)

0.3838383838383838

Pregunta N°3.- ¿Cuántos de cada sexo sobrevivieron?

In [88]:
SurvivedConfirmed = df['Survived']==1
GenderSurvivedThing = df['Sex']
TotalSurvival = df.loc[SurvivedConfirmed & GenderSurvivedThing, :]
MaleGenderFilter = TotalSurvival.loc[:, 'Sex'] == "male"
FemaleGenderFilter = TotalSurvival.loc[:, 'Sex'] == "female"
TotalSurvival.head(9874234)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [89]:
FemaleGenderFilter.sum()

233

In [90]:
MaleGenderFilter.sum()

109

Pregunta N°4.- Si consideran solo el grupo de pasajeros que pagó menos de $10, ¿cuál sería el porcentaje de este grupo que sobrevivió?

In [91]:
fareFilter = df.loc[:, 'Fare'] < 10
premulti = df.loc[fareFilter, 'Survived'].value_counts(normalize=True)
premulti = premulti * 100
print(premulti)

0    80.059524
1    19.940476
Name: Survived, dtype: float64

Pregunta N°5.- En total, ¿cuál es la edad promedio de los que no sobrevivieron?

In [96]:
DeadConfirmed = df['Survived']==0
Age = df['Age']
TotalDead = df.loc[DeadConfirmed & Age, :]
TotalDead['Age'].mean()

30.62617924528302

Pregunta N°6.- En total, ¿cuál es la edad promedio de los que sobrevivieron?

In [97]:
TotalSurvival.loc[:, 'Age'].mean()

28.343689655172415

Pregunta N°7.- Cuál es el promedio de edad de los que sobrevivieron y los que no sobrevivieron agrupado por sexo?

In [103]:

df.groupby(['Sex', 'Survived'])['Age'].mean()

Sex     Survived
female  0           25.046875
        1           28.847716
male    0           31.618056
        1           27.276022
Name: Age, dtype: float64